html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: 'SF Pro Display', sans-serif;
    background: #213141;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.container {
    width: 25%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}



h1 {
    font-size: 24px;
    margin-bottom: 35px;
}

.input-container {
    margin-bottom: 20px;
}

.container input[type="text"] {
    width: calc(100% - 50px); /* Обеспечьте отступы внутри контейнера */
    padding: 10px; /* Уменьшенные отступы */
    font-size: 14px; /* Уменьшенный размер шрифта */
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
    background: #2a3f50;
    color: white;
    appearance: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

@media (max-width: 600px) {
    .container input[type="text"],
    .city-button,
    .next-button {
        width: 100% !important; /* Обеспечить адаптивность ширины */
        font-size: 14px !important; /* Уменьшить размер шрифта для кнопок и ввода */
    }
    .container {
        padding: 10px !important; /* Уменьшить отступы */
    }
}
input::placeholder {
    color: #b0b0b0;
}

.button-container {
    background: #213141;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 111px;
    border-radius: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 110px;
    align-self: center; /* changed */
    margin-top: 20px; /* optional */
}

.city-button {

    background: #2a3f50;
    font-family: 'SF Pro Display', sans-serif;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16x;
    border-radius: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100px;
    align-self: center; /* changed */
    margin-top: 20px; /* optional */

}

.city-button:hover {
    background: #3b4f61;
}

.city-button.selected {
    background: #68E9FF;
}

.scale-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.scale {
    flex: 1;
    height: 100%;
    border-radius: 4px;
    transition: flex 0.5s ease-in-out, opacity 0.5s ease-in-out;
    margin: 0 5px;
    opacity: 0.5;
}

.scale-low {
    background: rgba(255, 0, 0, 0.7);
}

.scale-medium {
    background: rgba(255, 255, 0, 0.7);
}

.scale-high {
    background: rgba(0, 255, 0, 0.7);
}

.info-text {
    margin-bottom: 20px;
}

.next-button {
    background: #68E9FF;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 20px;
}

.next-button:hover {
    background: #0056b3;
}



















