html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #1C2733;
    font-family: 'SF Pro Display', sans-serif;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: relative;
    padding-top: 20px; /* Устанавливаем начальный отступ сверху */
}

h1 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 15px;
    text-align: center;
}

.city-input {
    font-family: 'SF Pro Display', sans-serif;
    width: 85%; /* Ширина поля ввода */
    text-align: center;
    max-width: 500px; /* Максимальная ширина, чтобы не выходить за границы экрана */
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    background-color: #2A3B4A;
    color: white;
}

.results-container {
    display: none; /* Изначально скрыт */
    font-family: 'SF Pro Display', sans-serif;
    border: 1px solid #ccc;
    border-radius: 16px;
    margin-top: -18px;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    background-color: #2A3B4A;
    color: white;
    width: 32%; /* Ширина контейнера */
    max-width: 500px; /* Максимальная ширина, чтобы не выходить за границы экрана */
    margin-bottom: 10px;

}

.city-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Уменьшаем отступы между кнопками */
    margin-bottom: 20px;
    width: 90%; /* Устанавливаем ширину контейнера с кнопками */
    max-width: 500px; /* Максимальная ширина, чтобы не выходить за границы экрана */
}

.city-button {
    background: #2A3B4A;
    font-family: 'SF Pro Display', sans-serif;
    color: white;
    border: none;
    padding: 10px 0; /* Уменьшаем высоту кнопок */
    font-size: 14px; /* Немного уменьшаем размер шрифта */
    border-radius: 8px; /* Уменьшаем радиус скругления */
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease; /* Добавляем плавный переход */
    text-align: center;
}

.city-button.wide {
    grid-column: span 3;
}

.city-button:hover, .city-button.selected {
    background: #58D3F7; /* Немного изменяем оттенок активной кнопки */
    color: #0C0E13;
    transform: scale(1.05); /* Добавляем легкое увеличение при наведении */
}

.scale-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
    margin: 10px 0; /* Уменьшаем верхний и нижний отступ */
    width: 90%;
    max-width: 500px; /* Максимальная ширина, чтобы не выходить за границы экрана */
}

.scale {
    flex: 1;
    height: 10px;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out, flex 0.5s ease-in-out;
    margin: 0 5px;
    opacity: 0.3; /* Пониженная яркость по умолчанию */
    background: gray; /* Серый цвет по умолчанию */
}

.scale.selected {
    opacity: 1; /* Повышенная яркость для выбранного элемента */
}

.scale-low {
    background: rgba(255, 0, 0, 0.7);
}

.scale-medium {
    background: rgba(255, 255, 0, 0.7);
}

.scale-high {
    background: rgba(0, 255, 0, 0.7);
}

#notificationCount {
    margin-top: 5px; /* Уменьшаем верхний отступ */
    margin-bottom: 10px; /* Уменьшаем нижний отступ */
    font-size: 12px; /* Уменьшаем размер шрифта */
    text-align: left; /* Выравнивание текста по левому краю */
    color: rgba(255, 255, 255, 0.6); /* Делаем текст более тусклым */
    width: 90%; /* Устанавливаем ширину текста */
    max-width: 500px; /* Максимальная ширина, чтобы не выходить за границы экрана */
}
